script.
  document.addEventListener('DOMContentLoaded', function () {
      // Select first input field (title)
      const input = document.getElementById('title');
      input.focus();
      input.select();
      // Select input fields when the corresponding label is clicked
      labels = document.getElementsByTagName('label');
      for (let label of labels) {
          label.addEventListener('click', function () {
              const inputId = label.getAttribute('for');
              document.getElementById(inputId).select();
          });
      }
  });
