extends layout

block content
  h1= title
  |
  form(action='/books/new', method='post', autocomplete='off')
    include form
    |
    p
      input(type='submit', value='Create New Book')
    |
    p
      a.button(href='/') Cancel