extends layout

block content
  h1 Page Not Found
  |
  p
    | Sorry! The resource
    span.highlight= url
    | couldn&apos;t be found on the server.
  |
  br
  |
  p
    a.button(href='/books') Home