extends layout

block content
  h1= title
  |
  form(action=`/books/${book.id}`, method='post', autocomplete='off')
    include form
    p
      input(type='submit', value='Update Book')
  |
  form(method='post', action=`/books/${book.id}/delete`, onsubmit="return confirm('Do you really want to delete this book?');")
    p
      a.button(href='/books') Cancel
    |
    p
      input(type='submit', value='Delete Book')
  script.
    document.addEventListener('DOMContentLoaded', function () {
        // Select first input field (title)
        const input = document.getElementById('title');
        input.focus();
        input.select();
        // Select input fields when the corresponding label is clicked
        labels = document.getElementsByTagName('label');
        for (let label of labels) {
            label.addEventListener('click', function () {
                const inputId = label.getAttribute('for');
                document.getElementById(inputId).select();
            });
        }
    });
